<a href="https://colab.research.google.com/github/himanshupadol/ML-Codes/blob/main/Linear_Regression_WithBasicCoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **MAIN CODE**

## **linear regression**

In [ ]:
# y = xw + b
# predictions = features.dot(w)

## **cost function**

In [ ]:
def costfunc(x,y,w):
  n=len(y) # getting the number of instances in the dataset
  predictions = scaled_features.dot(w)
  cost = (1/n) * np.sum(np.square(predictions-y))
  return cost

## **optimization function - gradient descent**

In [ ]:
def grad_descent(x,y,w,lern_rate,iters):
  cost_hist = np.zeros(iters) # creating 1D array of number of zeros equal to number of iterations
  n=len(y) # getting the number of instances in the dataset

  for i in range(iters):
    predictions = scaled_features.dot(w) # applying linear function for each func
    error = y - predictions # calculating error

    gradient = -(2/n) * scaled_features.T.dot(error) # computing gradient (derivative)
    w = w - lern_rate * gradient # weight updatation

    cost_hist[i] = costfunc(x,y,w) # computing and storing the cost of each iteration in a 1D array

  return w, cost_hist

# **TRAINING THE MODEL**

### **Loading the data in IDE**

In [ ]:
import pandas as pd

# enter the path of the csv file
filename = str(input("Enter path of csv file: "))
data = pd.read_csv(filename)

Enter path of csv file: /content/FuelConsumption.csv

### **Feature selection**

In [ ]:
data.shape

(1067, 13)

In [ ]:
data.columns

Index(['MODELYEAR', 'MAKE', 'MODEL', 'VEHICLECLASS', 'ENGINESIZE', 'CYLINDERS',
       'TRANSMISSION', 'FUELTYPE', 'FUELCONSUMPTION_CITY',
       'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB',
       'FUELCONSUMPTION_COMB_MPG', 'CO2EMISSIONS'],
      dtype='object')

In [ ]:
data.isnull().sum()

MODELYEAR                   0
MAKE                        0
MODEL                       0
VEHICLECLASS                0
ENGINESIZE                  0
CYLINDERS                   0
TRANSMISSION                0
FUELTYPE                    0
FUELCONSUMPTION_CITY        0
FUELCONSUMPTION_HWY         0
FUELCONSUMPTION_COMB        0
FUELCONSUMPTION_COMB_MPG    0
CO2EMISSIONS                0
dtype: int64

In [ ]:
# select the features

k = input("Enter name of column(s): ") # enter name of columns for selecting features
features = data[[k]].values

# assign the label column to label variable
k1 = input("Enter name of column(s): ") # enter name of columns for selecting label
labels = data[k1].values

Enter name of column(s): ENGINESIZE
Enter name of column(s): CO2EMISSIONS

### **Scaling the features**

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

scaled_features = scaler.fit_transform(features)

In [ ]:
scaled_features.shape

(1067, 1)

In [ ]:
scaled_features[:6]

array([[-0.9512918 ],
       [-0.66865251],
       [-1.30459092],
       [ 0.10860554],
       [ 0.10860554],
       [ 0.10860554]])

### **Initializing weight of the features**

In [ ]:
# creating 1D array of zeros with shape simlar to number of columns in feature set

import numpy as np

# initializing weights as zero
w = np.zeros(scaled_features.shape[1])

### **Applying linear function (or regression) algorithm to the data**

In [ ]:
y_pred_1 = np.dot(scaled_features, w)

### **Evaluating performance of the algorithm**

In [ ]:
# using the mean squared error metric
mse_1 = np.mean(np.square(y_pred_1 - labels))
print(mse_1)

69665.42080599813

### **Setting up parameters for the model**

In [ ]:
# enter learning rate for the algorithm
lern_rate = float(input("Enter learning rate: "))

# enter number of iterations for the algorithm
iters = int(input("Enter number of iterations: "))

Enter learning rate: 0.03
Enter number of iterations: 250

### **Applying Optimization**

In [ ]:
w_opt, cost_hist_opt = grad_descent(scaled_features, labels, w, lern_rate, iters)

***Viewing the optimum weights and changes in error after optimization***

In [ ]:
print("Optimal weights (or parameters): ", w_opt)
# print("Array of optimized errors (The last value in the array is the optimul value): ", cost_hist_opt)

Optimal weights (or parameters):  [55.37120077]

### **Reapplying the linear function using optimal values**

In [ ]:
y_pred_2 = np.dot(scaled_features, w_opt)

### **Evaluating performance of algorithm on optimal weights**

In [ ]:
mse_2 = np.mean(np.square(y_pred_2 - labels))
print(mse_2)

66599.44975802653

### **Comparing the two MSE values**

In [ ]:
print(mse_1,'\n',mse_2)

69665.42080599813
 66599.44975802653